@for (factura of facturas | async; track $index) {
    <div class="factura">
        <h3>Factura {{ factura.numero }}</h3> Tipo: {{ factura.tipo }} Fecha: {{ factura.fecha | date }} Total: {{ factura.total | currency }}
    </div>

}@empty {
    <h2>No hay facturas disponibles.</h2>
}

<a routerLink="/factura">Crear Factura</a>
<input type="button" value="Ver facturas" (click)="ver()">

@for (users of usuarios | async; track $index) {
    <div class="factura">
        <p>Título: {{ users.title }}</p>
    </div>

}@empty {
    <h2>No hay facturas disponibles.</h2>
}